@import "../global";

// Coreui
@import "~@coreui/coreui/scss/coreui";
@import '~@coreui/icons/css/free.min.css';

.card-header-actions {
    display: inline-block;
  
    @include ltr {
      float: right;
      margin-right: - ($spacer / 4);
    }
    @include rtl {
      float: left;
      margin-left: - ($spacer / 4);
    }
  }

.card-header-action {
    padding: 0 ($spacer / 4);
    color: $gray-600;
  
    &:hover {
      color: $body-color;
      text-decoration: none;
    }
}

.wrapper {
    width: 100%;
    @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
    @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
    will-change: auto;
    @include transition(padding .15s);
}

// This was added some time before
// .table-striped > tbody > tr:nth-of-type(odd) > * {
//     --bs-table-bg-type: var(--bs-body-bg) !important;
// }

// .laravel-livewire-tables-odd {
//     --bs-table-bg-type: var(--bs-body-bg) !important;
// }
