@import "../../_global";

// tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
        @apply font-josefin;


        .scroll-box::-webkit-scrollbar {
            width: .4em;

            &.bg-green {
                @apply bg-primary-50;
            }
        }
        .scroll-box::-webkit-scrollbar,
        .scroll-box::-webkit-scrollbar-thumb {
            overflow:visible;
        }
        .scroll-box::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
        }
        .cover-bar {
            position: absolute;
            background: #fff;;
            height: 100%;
            top: 0;
            right: 0;
            width: .4em;
            -webkit-transition: all .5s;
            opacity: 1;
        }
    }
}

@layer base {
    @media print {
        .printable {
            -webkit-print-color-adjust: exact;
            zoom: 46%;
            @page {
                size: 20in 14.5in;
                margin: 1mm;
            }
        }

    }
}

@layer components {

    // form input
    .box-input-wrapper{
        @apply flex font-roboto;
    }

    .box-input-wrapper .box-input {
        @apply block border-primary-50 p-2 border text-center text-gray-900 text-sm size-8;
    }

    .box-input-wrapper .box-input:not(:first-child) {
        @apply border-y border-r border-l-0;
    }

    .number-input {
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
        }
    }

    // select form
    .form-group-inline{
        @apply flex max-lg:flex-col items-center gap-2 xl:gap-4 w-full;

        .form-label {
            @apply text-white uppercase lg:tracking-wider xl:tracking-widest whitespace-pre;
        }

        .select-wrapper {
            @apply relative w-full max-w-none lg:max-w-[120px];
            .select-icon{
                @apply top-0 right-0 bottom-0 absolute flex justify-center items-center bg-secondary pt-2 pr-3 pl-2.5 rounded-r-full w-10 text-primary-50 pointer-events-none;
            }
        }

    }

    .sidebar{
        @apply bg-cover bg-no-repeat bg-right-bottom px-5 xl:px-7 lg:py-10 xl:py-20;
    }


    .page-header{
        @apply flex justify-between items-center bg-primary-50 px-4 lg:px-8 xl:px-14 py-4 lg:py-4 xl:py-7;

        &.secondary {
            @apply bg-secondary-50;
        }

        .page-title {
            @apply font-bold text-lg text-white lg:text-xl uppercase tracking-wider xl:tracking-widest;
        }
    }

    .product-container{
        @apply gap-6 lg:gap-8 xl:gap-20 grid grid-cols-3 lg:grid-cols-4;

        .product-content-item{
            @apply flex flex-col justify-between items-center px-2 pt-2 pb-3 rounded h-full transition-all duration-300 cursor-pointer ease-in-out;
            
            .product-content{
                @apply flex flex-col items-center;
            }
        }

    }


    // style for semi custom form
    .semi-custom{
        @apply relative min-h-svh;

        // Basic Form
        &.basic-form{

            .form-title{
                @apply flex justify-between items-center bg-primary-300 px-4 lg:px-8 xl:px-14 py-4 lg:py-4 xl:py-7;

                .title{
                    @apply font-bold text-lg text-white xl:text-xl uppercase leading-none lg:tracking-normal xl:tracking-widest;
                }
            }
        }


    }
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 60px solid green;
}

nav {
    .active {
        @apply relative;
        &::before {
            content: "";
            @apply bottom-0 absolute bg-primary-50 w-full h-0.5;
        }
    }
}
