// @import "../../_global";

// tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
        @apply font-josefin;


        .scroll-box::-webkit-scrollbar {
            width: .4em;

            &.bg-green {
                @apply bg-primary-50;
            }
        }
        .scroll-box::-webkit-scrollbar,
        .scroll-box::-webkit-scrollbar-thumb {
            overflow:visible;
        }
        .scroll-box::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
        }
        .cover-bar {
            position: absolute;
            background: #fff;;
            height: 100%;
            top: 0;
            right: 0;
            width: .4em;
            -webkit-transition: all .5s;
            opacity: 1;
        }
    }
}

@layer base {
    @media print {
        .printable {
            -webkit-print-color-adjust: exact;
            // zoom: 80%;
        }

        @page {
            size: 20in 14.5in;
            margin: 5mm;
        }
    }
}

@layer components {

    .box-input-wrapper{
        @apply flex font-roboto;
    }

    .box-input-wrapper .box-input {
        @apply block border border-primary-50 p-2 text-center text-gray-900 text-sm size-8;
    }

    .box-input-wrapper .box-input:not(:first-child) {
        @apply border-y border-r border-l-0;
    }

    .number-input {
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
        }
    }
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 60px solid green;
}

nav {
    .active {
        @apply relative;
        &::before {
            content: "";
            @apply bottom-0 absolute bg-primary-50 w-full h-0.5;
        }
    }
}
