@import "../../_global";

// tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
        @apply font-josefin;


        .scroll-box::-webkit-scrollbar {
            width: .4em;

            &.bg-green {
                @apply bg-primary-50;
            }
        }
        .scroll-box::-webkit-scrollbar,
        .scroll-box::-webkit-scrollbar-thumb {
            overflow:visible;
        }
        .scroll-box::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
        }
        .cover-bar {
            position: absolute;
            background: #fff;;
            height: 100%;
            top: 0;
            right: 0;
            width: .4em;
            -webkit-transition: all .5s;
            opacity: 1;
        }
    }
}

@layer base {
    @media print {
        .printable {
            -webkit-print-color-adjust: exact;
            zoom: 44%;
            @page {
                size: 20in 14.5in;
                margin: 1mm;
            }
        }

    }
}

@layer components {

    .table-target-breakdown {
        @apply w-full min-w-max text-left table-auto;
    }

    .table-target-breakdown th {
        @apply bg-primary-100 p-4 border-primary-200 border-b text-white;
    }

    .table-target-breakdown td {
        @apply p-4 border-primary-200 border-b text-gray-900;
    }

    .box-input-wrapper{
        @apply flex font-roboto;
    }

    .box-input-wrapper .box-input {
        @apply block p-2 border border-primary-50 size-8 text-gray-900 text-sm text-center;
    }

    .box-input-wrapper .box-input:not(:first-child) {
        @apply border-y border-r border-l-0;
    }

    .number-input {
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
        }
    }

    .print-props {
        @apply print:text-2xl;

        .box-input{
            @apply p-px print:text-2xl;
        }

        input {
            @apply print:text-2xl print:uppercase;
        }

        &-md {
            @apply print:text-xl;

            td, th {
                @apply print:px-1 print:py-px;
            }
        }

        &-embroidery {
            @apply print:text-2xl;

            input {
                @apply print:text-2xl;
            }

            .box-input{
                @apply p-px print:text-2xl;
            }
        }

    }


    // Styling for print page form
    // Buttons
    .buttons-wrapper{
        @apply mt-2 p-2 border border-pink-ka;

        .buttons-layout{
            @apply gap-2 grid grid-cols-2 grid-rows-5 grid-flow-col;
        }

        .button-price-label{
            @apply mt-1;
        }
    }
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 60px solid green;
}

nav {
    .active {
        @apply relative;
        &::before {
            content: "";
            @apply bottom-0 absolute bg-primary-50 w-full h-0.5;
        }
    }
}
